@font-face {
  font-family: "IntroRust";
  src: url("../fonts/IntroRust.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel.ttf");
  font-weight: normal;
  font-style: normal;
}
